USE [master]
GO
/****** Object:  Database [LTW_Movie369]    Script Date: 1/10/2026 8:48:18 PM ******/
CREATE DATABASE [LTW_Movie369]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LTW_Movie369', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LTW_Movie369.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LTW_Movie369_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LTW_Movie369_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTW_Movie369].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTW_Movie369]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[banner_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idMovie] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Episodes]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Episodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idMovie] [int] NOT NULL,
	[num_episode] [int] NOT NULL,
	[title_episode] [nvarchar](255) NULL,
	[duration] [int] NULL,
	[video_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[idUser] [int] NOT NULL,
	[idMovie] [int] NOT NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idMovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[genresName] [nvarchar](20) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieName] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[yearRelease] [int] NULL,
	[duration] [int] NULL,
	[poster_url] [nvarchar](255) NULL,
	[trailer_url] [nvarchar](255) NULL,
	[video_url] [nvarchar](255) NULL,
	[view_count] [int] NULL,
	[rate_avg] [decimal](3, 2) NULL,
	[rate_count] [int] NULL,
	[isPremium] [bit] NULL,
	[isSeries] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[banner_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies_genres]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies_genres](
	[idMovie] [int] NOT NULL,
	[idGenre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMovie] ASC,
	[idGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idMovie] [int] NOT NULL,
	[rating] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribe_history]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribe_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idPlan] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](10) NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribe_plan]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribe_plan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[premiumOption_title] [nvarchar](20) NOT NULL,
	[premiumOption_month] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/10/2026 8:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[avatar_url] [nvarchar](255) NULL,
	[roles] [nvarchar](20) NULL,
	[isPremium] [bit] NULL,
	[startPremium_date] [datetime] NULL,
	[endPremium_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([id], [name], [description], [banner_url]) VALUES (1, N'Vũ Trụ Marvel', N'Biệt Đội Siêu Anh Hùng Avengers', N'assets/img/avenger_banner.jpg')
INSERT [dbo].[Collections] ([id], [name], [description], [banner_url]) VALUES (2, N'Tốc Độ & Kịch Tính', N'Series Fast & Furious Đỉnh Cao', N'assets/img/f&f_banner.jpg')
INSERT [dbo].[Collections] ([id], [name], [description], [banner_url]) VALUES (3, N'Vũ Trụ Kinh Dị', N'Thế Giới The Conjuring & Annabelle', N'assets/img/theconjuring_banner.jpg')
SET IDENTITY_INSERT [dbo].[Collections] OFF
GO
SET IDENTITY_INSERT [dbo].[Episodes] ON 

INSERT [dbo].[Episodes] ([id], [idMovie], [num_episode], [title_episode], [duration], [video_url]) VALUES (1, 24, 1, N'The End', 60, N'https://www.youtube.com/embed/V-mugKDQDlg')
INSERT [dbo].[Episodes] ([id], [idMovie], [num_episode], [title_episode], [duration], [video_url]) VALUES (2, 24, 2, N'The Target', 60, N'https://www.youtube.com/embed/V-mugKDQDlg')
INSERT [dbo].[Episodes] ([id], [idMovie], [num_episode], [title_episode], [duration], [video_url]) VALUES (3, 24, 3, N'The Head', 58, N'https://www.youtube.com/embed/V-mugKDQDlg')
SET IDENTITY_INSERT [dbo].[Episodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([id], [genresName], [description]) VALUES (1, N'Hành Động', N'Phim đánh đấm gay cấn')
INSERT [dbo].[Genres] ([id], [genresName], [description]) VALUES (2, N'Viễn Tưởng', N'Khoa học công nghệ tương lai')
INSERT [dbo].[Genres] ([id], [genresName], [description]) VALUES (3, N'Kinh Dị', N'Sợ hãi và rùng rợn')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([id], [movieName], [description], [yearRelease], [duration], [poster_url], [trailer_url], [video_url], [view_count], [rate_avg], [rate_count], [isPremium], [isSeries], [status], [banner_url]) VALUES (1, N'Godzilla x Kong: Đế Chế Mới', N'Cuộc chiến giữa hai Titans.', 2024, 115, N'https://image.tmdb.org/t/p/w500/tMefBSflR6PGQLv7WvFPpKLZkyk.jpg', N'https://www.youtube.com/embed/lV1OOlGwExM', N'https://www.youtube.com/embed/lV1OOlGwExM', 45000, CAST(4.00 AS Decimal(3, 2)), 1, 0, 0, N'UPLOADED', N'assets/img/godzilla_x_kong_banner.jpg')
INSERT [dbo].[Movies] ([id], [movieName], [description], [yearRelease], [duration], [poster_url], [trailer_url], [video_url], [view_count], [rate_avg], [rate_count], [isPremium], [isSeries], [status], [banner_url]) VALUES (2, N'Dune: Hành Tinh Cát 2', N'Hành trình trả thù của Paul Atreides.', 2024, 166, N'https://image.tmdb.org/t/p/w500/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg', N'https://www.youtube.com/embed/Way9Dexny3w', N'https://www.youtube.com/embed/Way9Dexny3w', 38000, CAST(4.90 AS Decimal(3, 2)), 2100, 1, 0, N'UPLOADED', N'assets/img/Dune2_banner.jpg')
INSERT [dbo].[Movies] ([id], [movieName], [description], [yearRelease], [duration], [poster_url], [trailer_url], [video_url], [view_count], [rate_avg], [rate_count], [isPremium], [isSeries], [status], [banner_url]) VALUES (3, N'Kung Fu Panda 4', N'Po tìm người kế vị.', 2024, 94, N'https://image.tmdb.org/t/p/w500/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg', N'https://www.youtube.com/embed/_inKs4eeHiI', N'https://www.youtube.com/embed/_inKs4eeHiI', 29000, CAST(4.00 AS Decimal(3, 2)), 1, 0, 0, N'UPLOADED', N'assets/img/Kung Fu Panda 4 _banner.jpg')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
INSERT [dbo].[Movies_genres] ([idMovie], [idGenre]) VALUES (1, 1)
INSERT [dbo].[Movies_genres] ([idMovie], [idGenre]) VALUES (1, 2)
INSERT [dbo].[Movies_genres] ([idMovie], [idGenre]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Subscribe_plan] ON 

INSERT [dbo].[Subscribe_plan] ([id], [premiumOption_title], [premiumOption_month], [price], [isActive]) VALUES (1, N'Gói 1 Tháng', 1, CAST(50000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Subscribe_plan] ([id], [premiumOption_title], [premiumOption_month], [price], [isActive]) VALUES (2, N'Gói 6 Tháng', 6, CAST(250000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Subscribe_plan] ([id], [premiumOption_title], [premiumOption_month], [price], [isActive]) VALUES (3, N'Gói 1 Năm', 12, CAST(450000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Subscribe_plan] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [password_hash], [avatar_url], [roles], [isPremium], [startPremium_date], [endPremium_date]) VALUES (1, N'admin', N'lethanhtri1970@gmail.com', N'+BiyUFMEadbwOHzGabMi8UJ1qJ+6YA2+EAElU8ii1Pg=', N'assets/img/default-avatar.jpg', N'Admin', 0, NULL, NULL)
INSERT [dbo].[Users] ([id], [username], [email], [password_hash], [avatar_url], [roles], [isPremium], [startPremium_date], [endPremium_date]) VALUES (2, N'chonhan', N'lethanhtuan5542@gmail.com', N'+BiyUFMEadbwOHzGabMi8UJ1qJ+6YA2+EAElU8ii1Pg=', N'assets/img/default-avatar.jpg', N'User', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Genres__2C6CCB52BB73D487]    Script Date: 1/10/2026 8:48:19 PM ******/
ALTER TABLE [dbo].[Genres] ADD UNIQUE NONCLUSTERED 
(
	[genresName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Ratings__06BE60FA6F628766]    Script Date: 1/10/2026 8:48:19 PM ******/
ALTER TABLE [dbo].[Ratings] ADD UNIQUE NONCLUSTERED 
(
	[idUser] ASC,
	[idMovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61648B8136A6]    Script Date: 1/10/2026 8:48:19 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572BB7384BE]    Script Date: 1/10/2026 8:48:19 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [rate_avg]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [rate_count]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [isPremium]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [isSeries]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ('UPLOADED') FOR [status]
GO
ALTER TABLE [dbo].[Subscribe_history] ADD  DEFAULT ('Paid') FOR [status]
GO
ALTER TABLE [dbo].[Subscribe_history] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Subscribe_plan] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('nhetanhdoday/default-avatar.jpg') FOR [avatar_url]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [roles]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [isPremium]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Episodes]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Movies_genres]  WITH CHECK ADD FOREIGN KEY([idGenre])
REFERENCES [dbo].[Genres] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movies_genres]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscribe_history]  WITH CHECK ADD FOREIGN KEY([idPlan])
REFERENCES [dbo].[Subscribe_plan] ([id])
GO
ALTER TABLE [dbo].[Subscribe_history]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
