# --- Maven Build (Quan trọng nhất) ---
target/

# --- IntelliJ IDEA (Quan trọng nhì) ---
.idea/
*.iml
out/
# (Dòng out/ này rất quan trọng, vì đôi khi IntelliJ build nó nhả vào đây thay vì target)

# --- Các file rác hệ điều hành (Windows/Mac) ---
.DS_Store
Thumbs.db

# --- Logs & Temp ---
*.log
*.tmp

